html,
body,
.off-canvas-wrap,
.inner-wrap {
  height: auto;
  width: 100%;
}
.listing.row {
  margin-bottom: 2em;
}
.listing.row .img-circle {
  border-radius: 50%;
}
.listing.row .upvotearrow:hover {
  cursor: pointer;
}
.listing.row span.upvoted {
  color: #2ba6cb;
}
